<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">ชื่่อ</span>
  </div>
  <input type="text" class="form-control" [(ngModel)] = "name">
</div>

<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">คะแนน</span>
  </div>
  <input type="text" class="form-control" [(ngModel)] = "score">
</div>

<div>
  <span>name: {{name}}</span>
</div>
<div>
  <span>score: {{score}}</span>
  <span *ngIf="score > 50"> เกรด A</span>
  <span *ngIf="score < 50"> เกรด B</span>
</div>

<h3 class = "text center">รายชื่อนักเรียน</h3>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Student Name</th>
        <th>Weight</th>
        <th>Height</th>
        <th>BMI</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{student.studentId}}</td>
        <td>{{student.name}}</td>
        <td>{{student.weight}}</td>
        <td>{{student.height}}</td>
        <td>{{student.weight/((student.height/100)*(student.height/100))}}</td>
        <td *ngIf="student.bmi > 25">อ้วน</td>
        <td *ngIf="student.bmi < 25">ผอม</td>
        <td *ngIf="student.bmi == 25">ปกติ</td>
      </tr>
      <tr *ngFor="let s of studentlist;">
          <td>{{s.studentId}}</td>
          <td>{{s.name}}</td>
          <td>{{s.weight}}</td>
          <td>{{s.height}}</td>
          <td>{{s.weight/((s.height/100)*(s.height/100))}}</td>
          <td *ngIf="s.bmi > 25">อ้วน</td>
          <td *ngIf="s.bmi < 25">ผอม</td>
          <td *ngIf="s.bmi == 25">ปกติ</td>
      </tr>
    </tbody>

  </table>

<!-- <form>
  <div class="form-group">
    <label >ชื่่อ {{name}}</label>
    <input type="text" class="form-control" [(ngModel)] = "name">
  </div>
  <div class="form-group">
    <label >คะแนน {{score}}</label> 
    <span *ngIf="score > 50"> เกรด A</span>
    <span *ngIf="score < 50"> เกรด B</span>
    <input type="text" class="form-control" [(ngModel)] = "score">
  </div>
</form> -->
